In [2]:
from sqlalchemy.orm import sessionmaker
from models import engine, Tevas, Vaikas

session = sessionmaker(engine)()

In [3]:
naujas_tevas = Tevas(vardas="Kietas", pavarde="Vyras")
naujas_vaikas = Vaikas(
    vardas="Sustras", 
    pavarde="Vyras", 
    tevas=naujas_tevas,
    mokymo_istaiga="CodeAcademy",
)
session.add(naujas_tevas)
session.add(naujas_vaikas)
session.commit()

In [4]:
from pprint import pprint
vaikai = session.query(Vaikas).all()
pprint(vaikai)

[(1, Sustras, Nevyras, (1, Belekas, Nevyras)),
 (2, Gudrus, Vaikis, (2, Rmtas, Vaikis)),
 (3, Smagi, Vaikyte, (2, Rmtas, Vaikis)),
 (4, Sustras, Nevyras, (3, Belekas, Nevyras)),
 (5, Gudrus, Vaikis, (4, Rmtas, Vaikis)),
 (6, Smagi, Vaikyte, (4, Rmtas, Vaikis)),
 (7, Sustras, Nevyras, (5, Belekas, Nevyras)),
 (8, Gudrus, Vaikis, (6, Rmtas, Vaikis)),
 (9, Smagi, Vaikyte, (6, Rmtas, Vaikis)),
 (10, Sustras, Vyras, (7, Kietas, Vyras))]

In [6]:
vaikai[1].tevas = session.query(Tevas).get(1)
#session.commit()
vaikai

[(1, Sustras, Nevyras, (1, Belekas, Nevyras)),
 (2, Gudrus, Vaikis, (1, Belekas, Nevyras)),
 (3, Smagi, Vaikyte, (2, Rmtas, Vaikis)),
 (4, Sustras, Nevyras, (3, Belekas, Nevyras)),
 (5, Gudrus, Vaikis, (4, Rmtas, Vaikis)),
 (6, Smagi, Vaikyte, (4, Rmtas, Vaikis)),
 (7, Sustras, Nevyras, (5, Belekas, Nevyras)),
 (8, Gudrus, Vaikis, (6, Rmtas, Vaikis)),
 (9, Smagi, Vaikyte, (6, Rmtas, Vaikis)),
 (10, Sustras, Vyras, (7, Kietas, Vyras))]

In [7]:
tevas = session.query(Tevas).get(2)
tevas

(2, Rmtas, Vaikis)

In [15]:
sunelis = Vaikas(vardas="Gudrus", pavarde="Vaikis")
dukrele = Vaikas(vardas="Smagi", pavarde="Vaikyte")
tevas = Tevas(vardas="Rmtas", pavarde="Vaikis")
tevas.vaikai.append(sunelis)
tevas.vaikai.append(dukrele)
session.add(tevas)
session.commit()

In [8]:
tevas = session.query(Tevas).get(2)
tevas.vaikai

[(2, Gudrus, Vaikis, (2, Rmtas, Vaikis)),
 (3, Smagi, Vaikyte, (2, Rmtas, Vaikis))]

In [9]:
tevai= session.query(Tevas).all()
for tevas in tevai:
    print('tevas:', tevas, "\nvaikai:")
    pprint(tevas.vaikai)

tevas: (1, Belekas, Nevyras)
vaikai:
[(1, Sustras, Nevyras, (1, Belekas, Nevyras)),
 (2, Gudrus, Vaikis, (1, Belekas, Nevyras))]
tevas: (2, Rmtas, Vaikis)
vaikai:
[(3, Smagi, Vaikyte, (2, Rmtas, Vaikis))]
tevas: (3, Belekas, Nevyras)
vaikai:
[(4, Sustras, Nevyras, (3, Belekas, Nevyras))]
tevas: (4, Rmtas, Vaikis)
vaikai:
[(5, Gudrus, Vaikis, (4, Rmtas, Vaikis)),
 (6, Smagi, Vaikyte, (4, Rmtas, Vaikis))]
tevas: (5, Belekas, Nevyras)
vaikai:
[(7, Sustras, Nevyras, (5, Belekas, Nevyras))]
tevas: (6, Rmtas, Vaikis)
vaikai:
[(8, Gudrus, Vaikis, (6, Rmtas, Vaikis)),
 (9, Smagi, Vaikyte, (6, Rmtas, Vaikis))]
tevas: (7, Kietas, Vyras)
vaikai:
[(10, Sustras, Vyras, (7, Kietas, Vyras))]
tevas: (8, Rmtas, Vaikis)
vaikai:
[(11, Gudrus, Vaikis, (8, Rmtas, Vaikis)),
 (12, Smagi, Vaikyte, (8, Rmtas, Vaikis))]

In [10]:
tevas.vaikai[0].vardas

'Gudrus'

In [11]:
tevas.vaikai[1].vardas = 'Gudri'
tevas.vaikai

[(11, Gudrus, Vaikis, (8, Rmtas, Vaikis)),
 (12, Gudri, Vaikyte, (8, Rmtas, Vaikis))]

In [12]:
pamestinukas = tevas.vaikai.pop()
pamestinukas

(12, Gudri, Vaikyte, None)

In [13]:
vaikai = session.query(Vaikas).all()
vaikai

[(1, Sustras, Nevyras, (1, Belekas, Nevyras)),
 (2, Gudrus, Vaikis, (1, Belekas, Nevyras)),
 (3, Smagi, Vaikyte, (2, Rmtas, Vaikis)),
 (4, Sustras, Nevyras, (3, Belekas, Nevyras)),
 (5, Gudrus, Vaikis, (4, Rmtas, Vaikis)),
 (6, Smagi, Vaikyte, (4, Rmtas, Vaikis)),
 (7, Sustras, Nevyras, (5, Belekas, Nevyras)),
 (8, Gudrus, Vaikis, (6, Rmtas, Vaikis)),
 (9, Smagi, Vaikyte, (6, Rmtas, Vaikis)),
 (10, Sustras, Vyras, (7, Kietas, Vyras)),
 (11, Gudrus, Vaikis, (8, Rmtas, Vaikis)),
 (12, Gudri, Vaikyte, None)]

In [18]:
tevas.vaikai.remove(vaikai[2])
tevas

ValueError: list.remove(x): x not in list

In [17]:
tevas.vaikai.append(vaikai[1])
tevas.vaikai.append(vaikai[2])

In [18]:
pprint(tevas.vaikai)

[(8, Gudrus, Vaikis, (6, Rmtas, Vaikis)),
 (3, Smagi, Vaikyte, (6, Rmtas, Vaikis)),
 (2, Gudrus, Vaikis, (6, Rmtas, Vaikis)),
 (3, Smagi, Vaikyte, (6, Rmtas, Vaikis))]

In [19]:
from crud import update_object, delete_object

In [20]:
rimtesnis = update_object(Tevas, 2, vardas="Rimtesnis")
rimtesnis

(2, Rimtesnis, Vaikis)

In [21]:
tevelis = session.query(Tevas).filter(Tevas.vardas.ilike("R%")).all()
tevelis

[(2, Rimtesnis, Vaikis),
 (4, Rmtas, Vaikis),
 (6, Rmtas, Vaikis),
 (8, Rmtas, Vaikis),
 (9, Rmtas, Vaikis)]